.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 0.5em;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
}

input {
  width: 300px;
}

.error {
  color: red;
}
